[Unit]
Description=File Browser Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/filebrowser/filebrowser
WorkingDirectory=/opt/filebrowser
Restart=always

[Install]
WantedBy=multi-user.target
